cmdstanpy==1.2.4
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
holidays==0.54
importlib_resources==6.4.2
kiwisolver==1.4.5
matplotlib==3.9.2
numpy==2.0.1
pandas==2.2.2
pillow==10.4.0
plotly==5.23.0
prophet==1.1.5
pyparsing==3.1.2
pytz==2024.1
stanio==0.5.1
tenacity==9.0.0
tqdm==4.66.5
tzdata==2024.1
